::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  outline: 0;
}

.bg-img {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  height: auto;
}

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.navbar .links .humburger {
  display: none;
  cursor: pointer;
}
.navbar .links .humburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background: #4f5665;
  transition: 0.5s;
}
.navbar .links ul {
  display: flex;
  gap: 32px;
}
.navbar .links ul li a {
  font-size: 14px;
  color: #4f5665;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}
.navbar .links ul li a svg path {
  fill: #4f5665;
}
.navbar .links ul li a:hover {
  color: #164b84;
}
.navbar .links ul li a:hover svg path {
  fill: #164b84;
}
.navbar .links ul .login-btn {
  display: none;
}
.navbar .links ul .register-btn {
  display: none;
}
.navbar .btns ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .btns ul li img {
  margin-top: 5px;
}
.navbar .btns ul li .register {
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid #164b84;
  background: transparent;
  border-radius: 40px;
  color: #164b84;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}
.navbar .btns ul li .register:hover {
  background: #164b84;
  border: 1px solid #164b84;
  color: #fff;
}
.navbar .btns ul li .login {
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 1220px) {
  .navbar .links {
    margin-right: 20px;
  }
  .navbar .links .humburger {
    display: block;
  }
  .navbar .links .humburger.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar .links .humburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .navbar .links .humburger.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .navbar .links ul {
    opacity: 0;
    position: absolute;
    background: #164b84;
    width: 100%;
    left: 0;
    top: 100px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    padding: 0;
  }
  .navbar .links ul li a {
    font-size: 16px;
    color: #fff;
  }
  .navbar .links ul li a svg path {
    fill: #fff;
  }
  .navbar .links ul.active {
    opacity: 1;
    padding: 30px 0;
  }
}
@media (max-width: 640px) {
  .navbar .links ul {
    overflow: hidden;
  }
  .navbar .links ul .login-btn {
    text-align: center;
    display: block;
    padding: 10px;
    width: 100px;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
  }
  .navbar .links ul .login-btn .login {
    font-size: 16px;
    background: transparent;
    border: 0;
  }
  .navbar .links ul .register-btn {
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 10px;
    width: 100px;
    background: #fff;
    border-radius: 40px;
  }
  .navbar .links ul .register-btn .register {
    background: transparent;
    font-size: 16px;
    border: 0;
  }
  .navbar .btns .login-btn {
    display: none;
  }
  .navbar .btns .register-btn {
    display: none;
  }
}
@media (max-width: 400px) {
  .navbar {
    padding: 30px 15px;
  }
}
.hero {
  margin-top: 80px;
  padding: 0 50px;
  display: flex;
}
.hero .hero-text {
  width: 620px;
  margin-top: -10px;
}
.hero .hero-text h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
.hero .hero-text h1 .bold {
  font-weight: 700;
}
.hero .hero-text h1 .colored {
  color: #5ac7e7;
  font-weight: 700;
}
.hero .hero-text .para {
  margin-top: 20px;
  max-width: 509px;
}
.hero .hero-text .box-wrapper {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
}
.hero .hero-text .box-wrapper .box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero .hero-text button {
  margin-top: 15px;
  padding: 16px 55px;
  border-radius: 10px;
  border: 1px solid #164b84;
  background: #164b84;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.hero .hero-img {
  width: 700px;
}
.hero .hero-img img {
  width: 100%;
}

@media (max-width: 1220px) {
  .bg-img {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .hero .hero-img {
    width: 100%;
    height: 300px;
  }
  .hero .hero-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 758px) {
  .hero .hero-text {
    max-width: 100%;
  }
  .hero .hero-img {
    display: none;
  }
}
@media (max-width: 610px) {
  .hero .hero-text h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (max-width: 500px) {
  .hero .hero-text .box-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 357px) {
  .hero .hero-text h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .hero .hero-text button {
    padding: 16px 50px;
  }
}
.about {
  margin-top: 100px;
  padding: 0 50px;
}
.about .about-wrapper {
  width: 100%;
  padding: 23px;
  background: #164b84;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.about .about-wrapper .box {
  min-width: 100%;
  height: 170px;
  background: transparent;
  cursor: pointer;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.about .about-wrapper .box:hover {
  background: #5ac7e7;
  border-radius: 10px;
}
.about .about-wrapper .box .box-img {
  min-width: 127px;
  height: 127px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-wrapper .box .box-text {
  margin-left: 38px;
}
.about .about-wrapper .box .box-text h2 {
  color: #fff;
}
.about .about-wrapper .box .box-text p {
  color: #fff;
}

@media (max-width: 1080px) {
  .about .about-wrapper {
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .about .about-wrapper .box {
    padding: 25px;
  }
}
@media (max-width: 697px) {
  .about .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media (max-width: 440px) {
  .about .about-wrapper .box {
    padding: 25px 10px;
  }
}
@media (max-width: 390px) {
  .about .about-wrapper .box .box-text {
    margin-left: 20px;
  }
}
@media (max-width: 375px) {
  .about .about-wrapper .box .box-img {
    min-width: 80px;
    height: 80px;
  }
}
@media (max-width: 330px) {
  .about .about-wrapper .box .box-text {
    margin-left: 15px;
  }
}
.packages {
  margin-top: 100px;
  padding: 0 50px;
}
.packages .title {
  text-align: center;
  font-weight: 500;
}
.packages .title .bold {
  font-weight: 800;
}
.packages .wrapper {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 0 90px;
}
.packages .wrapper .box {
  width: 100%;
  height: 450px;
  padding: 0 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.packages .wrapper .box h2 {
  margin-top: 35px;
  text-align: center;
}
.packages .wrapper .box p {
  margin-top: 30px;
}
.packages .wrapper .box button {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #164b84;
  font-weight: 600;
  color: #164b84;
  transition: 0.3s;
}
.packages .wrapper .box button:hover {
  background: #164b84;
  color: #fff;
  cursor: pointer;
}
.packages .wrapper .main-box {
  min-width: 356px;
  height: 508px;
  background: #164b84;
  border-radius: 10px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.packages .wrapper .main-box h2 {
  margin-top: 60px;
  text-align: center;
  color: #fff;
}
.packages .wrapper .main-box p {
  margin-top: 30px;
  color: #fff;
}
.packages .wrapper .main-box button {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #fff;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
}
.packages .wrapper .main-box button:hover {
  background: #fff;
  color: #4f5665;
  cursor: pointer;
}
.packages .brands {
  margin-top: 125px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 90px;
}
.packages .brands img {
  opacity: 0.5;
  filter: grayscale(100%);
}

@media (max-width: 1360px) {
  .packages .brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1250px) {
  .packages .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 1110px) {
  .packages .wrapper {
    gap: 20px;
    padding: 0 10px;
  }
}
@media (max-width: 1070px) {
  .packages .wrapper .box {
    width: 100%;
    height: 450px;
  }
  .packages .wrapper .main-box {
    min-width: 0;
    max-width: 100%;
    height: 450px;
  }
  .packages .wrapper .main-box h2 {
    margin-top: 35px;
    text-align: center;
  }
  .packages .wrapper .main-box p {
    margin-top: 30px;
  }
  .packages .wrapper .main-box button {
    margin-top: 15px;
  }
}
@media (max-width: 1000px) {
  .packages .brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 930px) {
  .packages .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .packages .brands {
    gap: 1rem;
  }
}
@media (max-width: 880px) {
  .packages .brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 650px) {
  .packages .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 0;
    justify-items: center;
  }
  .packages .wrapper .box {
    max-width: 370px;
  }
  .packages .wrapper .main-box {
    min-width: 0;
    max-width: 370px;
    width: 100%;
  }
  .packages .brands {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .packages .brands {
    padding: 0 10px;
  }
}
.download {
  margin-top: 150px;
  padding: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download .download-text {
  width: 50%;
}
.download .download-text p {
  max-width: 570px;
  width: 100%;
  color: #4f5665;
  margin-top: 10px;
}
.download .download-text .btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.download .download-text .btns .play-store {
  padding: 0 30px 8px;
  background: #fff;
  border: 1px solid #164b84;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  gap: 1rem;
}
.download .download-text .btns .play-store p {
  color: #164b84;
}
.download .download-text .btns .play-store h2 {
  color: #164b84;
}
.download .download-text .btns .play-store:hover {
  background: #164b84;
}
.download .download-text .btns .play-store:hover svg path {
  fill: #fff;
}
.download .download-text .btns .play-store:hover p {
  color: #fff;
}
.download .download-text .btns .play-store:hover h2 {
  color: #fff;
}
.download .download-text .btns .android {
  padding: 0 30px 8px;
  background: #fff;
  border: 1px solid #164b84;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  gap: 1rem;
}
.download .download-text .btns .android p {
  color: #164b84;
}
.download .download-text .btns .android h2 {
  color: #164b84;
}
.download .download-text .btns .android:hover {
  background: #164b84;
}
.download .download-text .btns .android:hover svg path {
  fill: #fff;
}
.download .download-text .btns .android:hover p {
  color: #fff;
}
.download .download-text .btns .android:hover h2 {
  color: #fff;
}
.download .download-text .status {
  z-index: 10;
  position: relative;
  width: 560px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.download .download-text .status .box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 10px;
  padding: 20px 10px;
  background: #164b84;
}
.download .download-text .status .box h3 {
  color: #fff;
}
.download .download-img {
  width: 516px;
}
.download .download-img img {
  width: 100%;
}

@media (max-width: 1240px) {
  .download {
    padding: 0 50px;
  }
}
@media (max-width: 1160px) {
  .download .download-text {
    width: 50%;
  }
  .download .download-text .btns {
    width: 100%;
  }
  .download .download-text .btns .android {
    padding: 0 5px 8px;
  }
  .download .download-text .btns .android p {
    font-size: 13px;
  }
  .download .download-text .btns .android h2 {
    font-size: 16px;
  }
  .download .download-text .btns .play-store {
    padding: 0 5px 8px;
  }
  .download .download-text .btns .play-store p {
    font-size: 13px;
  }
  .download .download-text .btns .play-store h2 {
    font-size: 16px;
  }
  .download .download-text .status {
    width: 520px;
  }
  .download .download-img {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
  }
  .download .download-img img {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .download {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .download .download-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .download .download-text .status {
    width: 100%;
    flex-wrap: wrap;
  }
  .download .download-text .status .box {
    padding: 10px 30px;
  }
  .download .download-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .download .download-img img {
    min-width: 100%;
  }
}
@media (max-width: 470px) {
  .download .download-text h1 {
    font-size: 24px;
  }
  .download .download-text .btns {
    display: flex;
    flex-direction: column;
  }
}
footer {
  margin-top: 180px;
  width: 100%;
  background: #f5f5f5;
}
footer .header {
  display: flex;
  justify-content: center;
}
footer .header .wrapper {
  width: 960px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-top: -60px;
}
footer .header .wrapper .box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .header .wrapper .box .img {
  width: 70px;
  height: 70px;
  background: #164b84;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .main-footer {
  padding: 180px 90px 70px 90px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .main-footer .first-col {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .main-footer .first-col .social {
  width: 75%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
footer .main-footer .first-col .social img {
  cursor: pointer;
}
footer .main-footer .second-col {
  flex: 1;
  margin-left: 70px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .main-footer .third-col {
  width: 369px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
footer .main-footer .third-col p {
  width: 85%;
}
footer .main-footer .third-col .inp {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background: #164b84;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
footer .main-footer .third-col .inp input {
  flex: 1;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 0;
}
footer .main-footer .third-col .inp input::-moz-placeholder {
  color: #fff;
}
footer .main-footer .third-col .inp input::placeholder {
  color: #fff;
}
footer .copyright {
  width: 100%;
  padding: 0 90px;
}
footer .copyright div {
  padding: 10px 0;
  width: 100%;
  border-top: 2px solid #164b84;
  text-align: center;
  text-align: center;
}

@media (max-width: 1200px) {
  footer .main-footer {
    gap: 2rem;
  }
  footer .main-footer .second-col {
    margin-left: 20px;
  }
}
@media (max-width: 800px) {
  footer .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .main-footer .second-col {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 700px) {
  footer .main-footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  footer .main-footer .first-col {
    width: 100%;
  }
  footer .main-footer .second-col {
    width: 100%;
  }
  footer .main-footer .third-col {
    width: 100%;
  }
  footer .copyright {
    padding: 0;
  }
}
@media (max-width: 410px) {
  footer .main-footer {
    padding: 180px 50px 70px 50px;
  }
}
@media (max-width: 350px) {
  footer .main-footer {
    padding: 180px 30px 70px 30px;
  }
}
@media (max-width: 1000px) {
  footer .header .wrapper {
    width: 80%;
  }
}
@media (max-width: 830px) {
  footer .header .wrapper {
    width: 90%;
  }
}
@media (max-width: 745px) {
  footer .header .wrapper {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer .header .wrapper .line {
    display: none;
  }
}
@media (max-width: 420px) {
  footer .header .wrapper {
    padding: 15px 20px;
  }
}/*# sourceMappingURL=style.css.map */