<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrueBidData</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <!-- Footer Html -->

    <footer>
      <div class="header">
        <div class="wrapper">
          <div class="box">
            <div class="img">
              <img src="../../images/mail.png" alt="" />
            </div>
            <h3>info@youremail.com</h3>
          </div>
          <img class="line" src="../../images/footer-line.png" alt="" />
          <div class="box">
            <div class="img">
              <img src="../../images/phone.png" alt="" />
            </div>
            <h3>+880 321 655 9985</h3>
          </div>
        </div>
      </div>

      <div class="main-footer">
        <div class="first-col">
          <img src="../../images/footer-logo.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
            nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.
          </p>
          <div class="social">
            <img src="../../images/facebook-fill.png" alt="" />
            <img
              style="cursor: auto"
              src="../../images/social-line.png"
              alt=""
            />
            <img src="../../images/instagram-fill.png" alt="" />
            <img
              style="cursor: auto"
              src="../../images/social-line.png"
              alt=""
            />
            <img src="../../images/twitter-fill.png" alt="" />
            <img
              style="cursor: auto"
              src="../../images/social-line.png"
              alt=""
            />
            <img src="../../images/youtube-fill.png" alt="" />
          </div>
        </div>
        <div class="second-col">
          <h2>Quick Links</h2>
          <p>About</p>
          <p>Features</p>
          <p>Screenshot</p>
          <p>Blog</p>
        </div>
        <div class="third-col">
          <h2>News Letter</h2>
          <p>Subscribe our newsletter to get our latest update & news</p>
          <div class="inp">
            <input type="text" placeholder="Search Projects" />
            <img src="../../images/search.png" alt="" />
          </div>
        </div>
      </div>
      <div class="copyright">
        <div>Ⓒ Copyright 2021 .Ojjomedia. All Right Reserved.</div>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
