<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrueBidData</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <!-- Navbar Html -->
    <div class="navbar">
      <div class="logo">
        <img src="../../images/logo.png" alt="" />
      </div>

      <div class="links">
        <div class="humburger" id="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul id="menu-list">
          <li><a href="#">US Projects</a></li>
          <li><a href="#">Canada Project</a></li>
          <li><a href="#">Sample Project</a></li>
          <li><a href="#">Sub-Bidding</a></li>
          <li><a href="#">Plans</a></li>
          <li>
            <a href="#"
              >More
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
              >
                <path
                  d="M5 5.69307C4.886 5.69364 4.7766 5.64602 4.69649 5.56097L0.115271 0.757347C-0.0424144 0.579907 -0.0377616 0.303398 0.125795 0.131902C0.289352 -0.0395948 0.553058 -0.0444734 0.722283 0.120867L5 4.60625L9.27772 0.120867C9.44694 -0.0444734 9.71065 -0.0395948 9.87421 0.131902C10.0378 0.303398 10.0424 0.579907 9.88473 0.757347L5.30351 5.56097C5.2234 5.64602 5.114 5.69364 5 5.69307Z"
                  fill="#4A595A"
                />
              </svg>
            </a>
          </li>
          <li class="login-btn"><button class="login">Login</button></li>
          <li class="register-btn">
            <button class="register">Register</button>
          </li>
        </ul>
      </div>
      <div class="btns">
        <ul>
          <li><img src="../../images/cart-img.png" alt="" /></li>
          <li><img src="../../images/search-img.png" alt="" /></li>
          <li class="login-btn"><button class="login">Login</button></li>
          <li class="register-btn">
            <button class="register">Register</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="../../script.js"></script>
  </body>
</html>
